<div id="sidebar-wrapper" ng-class="{'toggled': sbm.isOpen()}">
    <ul class="sidebar-nav">
        <li ng-show="FF.user != undefinde">
            <a href="/perfil">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 ">
                    <img src="{[{ FF.user.avatar }]}" class="img-responsive img-size img-circle" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                    <p class="name"> {[{ getShortName(FF.user.name) }]} </p>
                </div>
            </a>
        </li>
        <li class="row">
            <a ng-hide="FF.user != undefinde" href="/login" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
               ng-click="isLogged = true">
                <i class="white glyphicon glyphicon-log-in"></i>
                <label> Login </label>
            </a>
            <a ng-hide="FF.user == undefinde" href="/login/home/sing_out" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="white glyphicon glyphicon-log-out"></span>
                <label style="cursor: pointer"> Sair </label>
            </a>
        </li>
        <li class="row" ng-repeat="icon in icons">
            <a href="{[{ icon.link }]}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="icon.is_visible || FF.user != undefinde">
                <span class="white glyphicon {[{ icon.img }]}"></span>
                <label style="cursor: pointer"> {[{ icon.label }]} </label>
            </a>
        </li>
    </ul>
</div>