<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}{% endblock %}
    </title>

    <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/components/sidebar/sidebar.css"/>
    <link rel="stylesheet" href="/static/components/navbar/navbar.css"/>
    {% block css %}{% endblock%}

    <script src="/static/lib/angular/js/angular.min.js"></script>
    <script src="/static/lib/angular/js/ui-bootstrap-angular.min.js"></script>
    <script src="/static/lib/jquery/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/web/config.js"></script>
    <script src="/static/js/web/fasthttp.js"></script>
    <script src="/static/js/controllers/fastFindApp.js"></script>
    <script src="/static/components/sidebar/sidebar.js"></script>
    <script src="/static/components/navbar/navbar.js"></script>
    {% block js %}{% endblock %}

    <script>
        window.FF = {
            user: {
                avatar: '/static/img/grazi.jpg',
                name: 'Grazzi',
                lastName: 'Massafera'
            }
        }
    </script>
</head>
<body ng-app="FastFindApp" ng-controller="FastFindCtrl">
    <fast-navbar></fast-navbar>

    <div id="wrapper" ng-class="{'toggled': sbm.isOpen()}">
        <fast-sidebar></fast-sidebar>
        <div id="page-content-wrapper" class="bg-light_green">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>