{% extends 'base/base.html' %}

{% block title %}
    FastFind - Lista de Desejos
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/components/product/productList.css" />
{% endblock %}

{% block js %}
    <script src="/static/components/product/productModel.js"></script>
    <script src="/static/js/controllers/desejosCtrl.js"></script>
    <script src="/static/components/product/productList.js"></script>
{% endblock %}

{% block content %}
    <div ng-controller="DesejosCtrl">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"> <!--ng-show="isListView.getListOrBlock() == 'list'">-->
            <h1>Lista de Desejos</h1>
            <product-list products="products"></product-list>
        </div>
    </div>
{% endblock %}
