{% extends 'base/base.html' %}
{% block title %}
    FastFind - Home
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/components/product/list/productList.css" />
    <link rel="stylesheet" href="/static/components/forum/forum.css" />
    <link rel="stylesheet" href="/static/components/slide/slide.css" />
{% endblock %}

{% block js %}
    <script src="/static/components/product/productModel.js"></script>
    <script src="/static/js/controllers/homeCtrl.js"></script>
    <script src="/static/components/product/list/productList.js"></script>
    <script src="/static/components/forum/forum.js"></script>
    <script src="/static/components/slide/slide.js"></script>
    <script src="/static/components/store/store.js"></script>
{% endblock %}

{% block content %}
    <div class="row" ng-controller="HomeCtrl">
        <div class="col-lg-6 col-md-6 hidden-xs hidden-sm"> <!--ng-show="isListView.getListOrBlock() == 'list'">-->
            <fast-slide interval="interval"
                        images="pm.getSelectedProduct().images"
                        title="{[{ pm.getSelectedProduct().name }]}">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center" style="margin-top: 10px">
                    <button class="btn btn-small btn-default" ng-click="showMap()">
                        <i class="glyphicon glyphicon-map-marker"></i>
                        <span>Mapa</span>
                    </button>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center" style="margin-top: 10px">
                    <button class="btn btn-small btn-default btn-circle" ng-click="toggleStore()">
                        <i class="glyphicon glyphicon-info-sign"></i>
                        <span>Loja</span>
                    </button>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center" style="margin-top: 10px">
                    <button class="btn btn-small btn-default" ng-click="toggleForum()">
                        <i class="glyphicon glyphicon-comment" ng-hide="showForum"></i>
                        <i class="glyphicon glyphicon-list" ng-show="showForum"></i>
                        <span ng-show="showForum">Lista</span>
                        <span ng-hide="showForum">Chat</span>
                    </button>
                </div>
            </fast-slide>

            <store collapse="showInformation"
                   product-selected="pm.getSelectedProduct()">
            </store>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> <!--ng-show="isListView.getListOrBlock() == 'list'">-->
            <forum ng-show="showForum"
                   comments="pm.getSelectedProduct().comment">
            </forum>
            <product-list ng-hide="showForum"
                          products="products">
            </product-list>
        <!--<div ng-hide="isListView.getListOrBlock() == 'list'">-->
            <!--<product-block products="products"></product-block>-->
        <!--</div>-->
        </div>
    </div>
{% endblock %}
