{% extends 'base/base.html' %}

{% block title %}
    FastFind - Lista de Desejos
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/components/product/block/productBlock.css" />
{% endblock %}

{% block js %}
    <script src="/static/components/product/productModel.js"></script>
    <script src="/static/js/controllers/compradosCtrl.js"></script>
    <script src="/static/components/product/block/productBlock.js"></script>
{% endblock %}

{% block content %}
    <div ng-controller="CompradosCtrl">
        <product-block products="products" title="Minhas Compras"></product-block>
    </div>
{% endblock %}
