<div class="row list-view">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <img ng-src="{[{productSelected.logo}]}" class="img-responsive img-circle">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <p class="more-information">{[{productSelected.street}]}</p>
        <p class="more-information">{[{productSelected.distance}]}</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <p class="more-information">{[{productSelected.shopName}]}</p>
        <p class="more-information"><b>{[{productSelected.price}]}</b></p>
    </div>
</div>