{% extends 'base/base.html' %}

{% block content %}
<div class="row" style="margin-top: calc(100vh - 90vh);">
    <div class="col-lg-offset-2 col-md-offset-2 col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Logar</h3>
            </div>
            <div class="panel-body">
                <form name="form" method="post" action="/login" novalidate="novalidate">
                    <div class="form-group">
                        <label for="login" class="control-label">Login</label>
                        <input type="text" name="login" id="login" unique-login="unique-login" required="required" ng-model="login_login" autofocus="autofocus" class="form-control"/>
                        <i ng-show="busy" class="halflings-icon refresh rotating"></i>
                        <span ng-show="form.login.$dirty && form.login.$error.required" class="help-block">
                            Please choose a login
                        </span>
                        <span ng-show="form.login.$dirty && form.login.$error.isTaken" class="help-block">
                            login already taken
                        </span>
                        <span ng-show="form.login.$dirty && form.login.$error.invalidChars" class="help-block">
                            login may not contain any non-url-safe characters
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="senha" class="control-label">Senha</label>
                        <input type="password" name="senha" id="senha" ng-model="senha_login" required="required" match="verification" class="form-control"/>
                        <span ng-show="form.senha.$dirty && form.senha.$error.required" class="help-block">
                            Please enter a senha
                        </span>
                    </div>
                    <input type="submit" value="Sign in" ng-disabled="form.$invalid" class="btn btn-primary"/>
                    <a class="btn btn-social-icon btn-google-plus" style="float: right; margin: 0 2px">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-social-icon btn-facebook" style="float: right; margin: 0 2px">
                        <i class="fa fa-facebook"></i>
                    </a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cadastre-se</h3>
            </div>
            <div class="panel-body">
                <form name="form" method="post" action="/login" novalidate="novalidate">
                    <div class="form-group">
                        <label for="login" class="control-label">Login</label>
                        <input type="text" name="login" id="login" unique-login="unique-login" required="required" ng-model="login" autofocus="autofocus" class="form-control"/>
                        <i ng-show="busy" class="halflings-icon refresh rotating"></i>
                        <span ng-show="form.login.$dirty && form.login.$error.required" class="help-block">
                            Please choose a login
                        </span>
                        <span ng-show="form.login.$dirty && form.login.$error.isTaken" class="help-block">
                            login already taken
                        </span>
                        <span ng-show="form.login.$dirty && form.login.$error.invalidChars" class="help-block">
                            login may not contain any non-url-safe characters
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">Email</label>
                        <input type="email" ng-model="email" name="email" id="email" required="required" class="form-control"/>
                        <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">
                            Email is invalid
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="senha" class="control-label">Senha</label>
                        <input type="password" name="senha" id="senha" ng-model="senha" required="required" match="verification" class="form-control"/>
                        <span ng-show="form.senha.$dirty && form.senha.$error.required" class="help-block">
                            Please enter a senha
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="verification" class="control-label">Repita a senha</label>
                        <input type="password" name="verification" id="verification" ng-model="verification" required="required" match="senha" class="form-control"/>
                        <span ng-show="form.verification.$dirty && form.verification.$error.required" class="help-block">
                            Please repeat your senha
                        </span>
                        <span ng-show="form.verification.$dirty && form.verification.$error.match && !form.verification.$error.required" class="help-block">
                            senhas don't match
                        </span>
                    </div>
                    <input type="submit" value="Sign up" ng-disabled="form.$invalid" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
